<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Partner with Signulu</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="./assets/images/favicon.png">
    <link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.1/dist/bootstrap-float-label.min.css" />
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>



    <meta name="awa-market" content="en-us">
    <meta name="awa-env" content="prod">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        /*Additional Styling For Example*/
        
        .fieldlist {
            margin: 0 0 -1em;
            padding: 0;
        }
        
        .fieldlist li {
            list-style: none;
            padding-bottom: 1em;
        }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link id="lp-bootstrap-style" href="./assets/customecss/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- <link *ngIf="dashboardFlag" id="db-bootstrap-style" href="./assets/dashboard-assets/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="./assets/customecss/css/carousel.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->

    <link href="./assets/dashboard-assets/css/app.min.css" id="lp-app-style" rel="stylesheet" type="text/css">
    <!-- <link *ngIf="dashboardFlag" href="./assets/dashboard-assets/css/app.min.css" id="db-app-style" rel="stylesheet"> -->
    <link id="appcss-style" href="./assets/customecss/css/fonts.css" rel="stylesheet" type="text/css">


    <link rel="stylesheet" type="text/css" href="./assets/customecss/css/icon.css" />
    <link rel="stylesheet" type="text/css" href="./assets/customecss/css/kendo.default-v2.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="./assets/dashboard-assets/css/ui-framework.css" /> -->


    <link href="./assets/customecss/css/home.css" rel="stylesheet" type="text/css" />


    <!-- Icons Css -->
    <link href="./assets/dashboard-assets/css/icons.min.css" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" href="./assets/events-assets/css/pe-icon-7-stroke.css" type="text/css">
    <link rel="stylesheet" href="./assets/events-assets/css/helper.css" type="text/css">
    <link rel="stylesheet" href="./assets/events-assets/css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="./assets/events-assets/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="./assets/events-assets/css/font.css" type="text/css">
    <link rel="stylesheet" href="./assets/events-assets/css/salvattore.css" type="text/css">
    <link rel="stylesheet" href="./assets/events-assets/css/jquery.countdown.css" type="text/css">
    <link rel="stylesheet" href="./assets/events-assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="./assets/events-assets/css/jquery.mCustomScrollbar.css" type="text/css">
    <link rel="stylesheet" href="./assets/events-assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="./assets/events-assets/css/owl.theme.css" type="text/css">
    <link rel="stylesheet" href="./assets/events-assets/css/owl.transitions.css" type="text/css">
    <link rel="stylesheet" href="./assets/events-assets/css/revolution.css" type="text/css">
    <link rel="stylesheet" href="./assets/events-assets/css/revolution-extralayers.css" type="text/css">



    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="styles.58104bbe74bfe4e370e4.css"></head>

<body class="mat-typography">
    <app-root></app-root>
<script src="runtime-es2015.8559cab1e91901cf1060.js" type="module"></script><script src="runtime-es5.8559cab1e91901cf1060.js" nomodule defer></script><script src="polyfills-es5.177e85a9724683782539.js" nomodule defer></script><script src="polyfills-es2015.f332a089ad1600448873.js" type="module"></script><script src="scripts.b913b2ba2a0cefd8eb4f.js" defer></script><script src="main-es2015.1b20a393cc377ad429c7.js" type="module"></script><script src="main-es5.1b20a393cc377ad429c7.js" nomodule defer></script></body>



<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
<!-- <script>
    window.jQuery || document.write('<script src="./assets/js/vendor/jquery.slim.min.js"><\/script>')
</script> -->
<!-- <script src="./assets/customecss/js/bootstrap.bundle.min.js"></script> -->



<!-- <script src="./assets/events-assets/js/events-main.js"></script> -->


<!-- JAVASCRIPT -->
<script src="./assets/dashboard-assets/libs/jquery/jquery.min.js"></script>
<script src="./assets/dashboard-assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--<script src="./assets/dashboard-assets/libs/metismenu/metisMenu.min.js"></script>





<script src="./assets/dashboard-assets/js/app.js"></script>
-->


<script src="./assets/events-assets/js/jquery-1.11.1.min.js"></script>
<script src="./assets/events-assets/js/jquery.themepunch.tools.min.js"></script>
<script src="./assets/events-assets/js/jquery.themepunch.revolution.min.js"></script>
<script src="./assets/events-assets/js/bootstrap.min.js"></script>
<script src="./assets/events-assets/js/jquery.sticky.js"></script>
<script src="./assets/events-assets/js/jquery.magnific-popup.min.js"></script>
<!-- <script src="./assets/events-assets/js/salvattore.js"></script> -->
<script src="./assets/events-assets/js/jquery.countdown.js"></script>
<script src="./assets/events-assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="./assets/events-assets/js/waypoints.min.js"></script>
<script src="./assets/events-assets/js/jquery.counterup.min.js"></script>
<script src="./assets/events-assets/js/owl.carousel.min.js"></script>
<script src="./assets/events-assets/js/retina.js"></script>

<!-- <script src="./assets/customecss/js/common.js"></script>
<script src="./assets/events-assets/js/events-main.js"></script> -->




</html>